.navbar {
  width: 100%;
  padding: 2rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--shadow);
}

.nav-links {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.nav-logo {
  display: flex;
  gap: 1rem;
  align-items: center;
}